/* other available fonts: 
font-family: 'Alfa Slab One', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */



h1, h2, h3, h4, h5, h6, p {
  font-family: 'Poppins', sans-serif;
}